<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:messages autoUpdate="true"/>
            <h:panelGrid columns="2">
                <p:outputLabel for="txtUsuario" value="Usuario"/>
                <p:inputText id="txtUsuario"  value="#{indexController.usuario.usuario_ci}" required="true"/>

                <p:outputLabel for="txtClave" value="Clave"/>
                <p:inputText id="txtClave" value="#{indexController.usuario.clave}" required="true"/>

                <h:column />
                <p:commandButton icon="ui-icon-key" value="Iniciar Sesion" action="#{indexController.iniciarSesion()}"/>
            </h:panelGrid>
            <p:separator />

            <p:link value="Crear Cuenta" outcome="usuario"/>
        </h:form>
    </h:body>
</html>

