<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Pagina de Notas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <body>
        <h:form>
            <p:growl id="mensaje" autoUpdate="false" severity="fatal,info" showSummary="false" showDetail="true"/>
            <p:fieldset legend="Datos Personales">
                <p:panelGrid columns="3" id="pgDatos">
                    <p:outputLabel for="txtNombres" value="Nombres"/>
                    <p:inputText id="txtNombres" value="#{usuarioController.persona.nombres}" required="true"/>
                    <p:message for="txtNombres"/>

                    <p:outputLabel for="txtApellidos" value="Apellidos"/>
                    <p:inputText id="txtApellidos" value="#{usuarioController.persona.apellidos}" required="true"/>
                    <p:message for="txtApellidos"/>

                    <p:outputLabel for="txtsexo" value="Sexo" />
                    <p:selectOneRadio id="txtsexo" value="#{usuarioController.persona.sexo}" >
                        <f:selectItem itemValue="M" itemLabel="Masculino"/>
                        <f:selectItem itemValue="F" itemLabel="Femenino"/>
                    </p:selectOneRadio>
                    <p:message for="txtsexo"/>


                    <p:outputLabel for="txtFecha_nac" value="Fecha Nacimiento"/>
                    <p:calendar id="txtFecha_nac" value="#{usuarioController.persona.fecha_nacimiento}" required="true" locale="es"/>
                    <p:message for="txtFecha_nac"/>

                </p:panelGrid>
            </p:fieldset>

            <p:fieldset legend="Datos de la cuenta">

                <p:panelGrid columns="3" id="pgCuenta">
                    <p:outputLabel  for ="cboTipo" value="TIpo De Cuenta"/>
                    <p:selectOneMenu id="cboTipo" value="#{usuarioController.usuario.tipo}" required="true">
                        <f:selectItem itemValue="A" itemLabel="Administrador"/>
                        <f:selectItem itemValue="O" itemLabel="Operario"/>
                    </p:selectOneMenu>
                    <p:message for="cboTipo"/>


                    <p:outputLabel for="txtUsuario" value="Usuario"/>
                    <p:inputText id="txtUsuario" value="#{usuarioController.usuario.usuario_ci}" required="true"/>
                    <p:message for="txtUsuario"/>


                    <p:outputLabel for="clave1" value="Clave"/>
                    <p:password id="clave1" value="#{usuarioController.usuario.clave}" required="true" match="clave2" feedback="true" 
                                validatorMessage="Las claves no coinciden" weakLabel="Debil" strongLabel="Fuerte" goodLabel="Bueno" promptLabel="Ingrese una Clave"/>
                    <p:message for="clave1"/>


                    <p:outputLabel for="clave2" value="Repetir Clave"/>
                    <p:password id="clave2" required="true" requiredMessage="Campo requerido"/>
                    <p:message for="clave2"/>

                </p:panelGrid> 
                <p:commandButton icon="ui-icon-check" value="Registrar" update="pgDatos,pgCuenta,mensaje" action="#{usuarioController.registrar()}"/>
            </p:fieldset>
        </h:form>
        <h:outputScript library="js" name="spanishLocale.js"/>
    </body>
</html>
